@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-mono: "JetBrains Mono", monospace;

  --color-border: #cacaca;
  --color-surface: #f5f5f5;
  --color-background: #eaeaea;
  --color-success: #15a46e;
  --color-success-bg: #cef8e0;
  --color-error: #f75c46;
  --color-error-bg: #ffebe7;
  --color-terminal: #1e1e1e;
  --color-terminal-text: #d4d4d4;
}

html,
body {
  font-size: 12px;
  font-family: var(--font-family-mono);
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background);
  color: #333;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.dark html,
.dark body,
html.dark,
body.dark {
  background: #171717;
  color: #e5e5e5;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
